@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
body{
    background:#333;
    font-family: 'Oswald', sans-serif;
    color:white;
}

.sidebar{
    width:25vw;
    height:97vh;
    right:100%;
    top:0;
    border:4px solid black;
    display:block;
    float:left;
    margin:-1px;
    padding:2px;
    align-content: center;
    font-family: 'Oswald', sans-serif;
}

.stats {
    width:71vw;
    height:97vh;
    right:100%;
    top:0;
    border:4px solid black;
    display:grid;
    float:left;
    margin:-1px;
    padding:2px;
    font-family: 'Oswald', sans-serif;
    visibility: hidden;
}

.menuBtn {
    width:95%;
    height:5%;
    margin:2px;
    background:#ddd;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
}

#equipped{
    display:block;
    width:100%;
    height:65vh;
    border:1px solid white;
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
}

#item {
    background-color: lightgrey;
    border:6px solid grey;
}
#head {
    background-image: url("img/ui/head_slot.png");
    position:relative;
    display:block;
    height:64px;
    width:64px;
    background-size: cover;
    border:6px solid rgb(92, 91, 91);
}
#chest {
    background-image: url("img/ui/chest_slot.png");
    position:relative;
    display:block;
    height:64px;
    width:64px;
    background-size: cover;
    border:6px solid rgb(92, 91, 91);
}
#legs {
    background-image: url("img/ui/legs_slot.png");
    position:relative;
    display:block;
    height:64px;
    width:64px;
    background-size: cover;
    border:6px solid rgb(92, 91, 91);
}
#weapon {
    background-image: url("img/ui/weapon_slot.png");
    position:relative;
    display:block;
    height:64px;
    width:64px;
    background-size: cover;
    border:6px solid rgb(92, 91, 91);
}
#accessory_1 {
    background-image: url("img/ui/accessory_1_slot.png");
    position:relative;
    display:block;
    height:64px;
    width:64px;
    background-size: cover;
    border:6px solid rgb(92, 91, 91);
}
#accessory_2 {
    background-image: url("img/ui/accessory_2_slot.png");
    position:relative;
    display:block;
    height:64px;
    width:64px;
    background-size: cover;
    border:6px solid rgb(92, 91, 91);
}

.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 0%;
    left: 210%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

#inventory {
    border:6px solid rgb(92, 91, 91);
    width:99%;
    height:30vh;
    overflow-y: scroll;
    overflow-x: hidden;
    grid-column: 1 / span 3;
    grid-row: 3 / span 1;
}

#defenseTxt, #attackTxt, #healthTxt, #ehpTxt {
    color:white;
}

.sidebar button, #enemy-attack{
    height:32px;
    width:40%;
    margin:auto;
    border:2px solid #333;
    border-radius: 4px;
    left:10%;
    font-size:16px;
    background-color: #555;
    color:white;
    position:relative;
    font-family: 'Oswald', sans-serif;
}

.sidebar button:hover, #enemy-attack:hover, #forge button:hover{
    border:2px solid #ddd;
    border-radius: 4px;
    font-size:16px;
    background-color: #fff;
    color:black;
    position:relative;
    font-family: 'Oswald', sans-serif;
}

.sidebar #stats-btn, .sidebar #extras-btn, #pet button, #shop-btn, #black-market-btn {
    height:32px;
    width:80%;
    margin:auto;
    border:2px solid #333;
    border-radius: 4px;
    font-size:16px;
    background-color: #555;
    color:white;
    position:relative;
    font-family: 'Oswald', sans-serif;
}

.sidebar #stats-btn:hover, .sidebar #extras-btn:hover, #pet button:hover, #shop-btn:hover, #black-market-btn:hover {
    border:2px solid #ddd;
    border-radius: 4px;
    font-size:16px;
    background-color: #fff;
    color:black;
    position:relative;
    font-family: 'Oswald', sans-serif;
}

.sidebar:before,
.sidebar:after {
    content: "";
    display: table;
}

.sidebar:after {
    clear: both;
}

#enemy {
    width:100%;
    height:65vh;
    border:1px solid white;
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
    height:70%;
}

#healthBar{height:50px;width:100%;float:right;top:0;display:block;}
#healthBar::-webkit-meter-bar{background-color:grey;border-radius:0px;border:none;}
#healthBar::-webkit-meter-optimum-value {background-color:rgb(47, 163, 47);}
#healthbar::after {content : "attr(value)";top:-17px;left:40px;position:absolute;}

#forge-item {
    background-image: url("./img/ui/forge_item_slot.png");
    position:relative;
    display:block;
    height:128px;
    width:128px;
    background-size: cover;
    border:6px solid rgb(92, 91, 91);
    margin-left: auto;
    margin-right: auto;
}

.tooltipforge .tooltiptextforge {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 0%;
    left: 160%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
  
.tooltipforge:hover .tooltiptextforge {
    visibility: visible;
    opacity: 1;
  }

  #forge{
    border:1px solid white;
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    width:100%;
    height:65vh;
    text-align:center;
}

#forge button {
    height:32px;
    width:75%;
    margin:auto;
    border:2px solid #333;
    border-radius: 4px;
    font-size:16px;
    background-color: #555;
    color:white;
    position:relative;
    font-family: 'Oswald', sans-serif;
}

.dropbtn {
    background-color: #303030;
    color: white;
    padding: 2px;
    font-size: 8px;
    border: 1px solid black;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .tooltiptext {display:none;}

  .dropdown:hover .dropbtn {background-color: #757575;}

  .extra-content {
    width:71vw;
    height:97vh;
    right:2%;
    top:0.75%;
    border:4px solid black;
    display:grid;
    margin:-1px;
    padding:2px;
    position:absolute;
    font-family: 'Oswald', sans-serif;
  }

  #stock-market { 
    height: 100%; margin: 0; padding: 0;
    float:left; 
    border:1px solid white;
    text-align:center;
    height:100%;
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
  } 
#cstock-price, #sstock-price, #gstock-price{
    font-family: 'Silkscreen', cursive;
    text-decoration:underline;
}

#stock-market button{
    height:64px;
    width:30%;
    margin:auto;
    border:2px solid #333;
    border-radius: 4px;
    font-size:16px;
    background-color: #555;
    color:white;
    position:relative;
    font-family: 'Oswald', sans-serif;
}
#stock-market button:hover{
    height:64px;
    width:30%;
    margin:auto;
    border:2px solid #333;
    border-radius: 4px;
    font-size:16px;
    background-color: white;
    color:#555;
    position:relative;
    font-family: 'Oswald', sans-serif;
}

#pet {
    height: 100%; 
    margin: 0; 
    padding: 0;
    border:1px solid white;
    text-align:center;
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
}

#pet-name{
    font-size:28px;
}

.shop, .black-market {
    width:71vw;
    height:97vh;
    right:2%;
    top:0.75%;
    border:4px solid black;
    display:grid;
    margin:-1px;
    padding:2px;
    position:absolute;
    font-family: 'Oswald', sans-serif;
    visibility: hidden;
}

.shop h1{
    height:10%;
}

#shop-table{
    width:71vw;
    overflow-y:scroll;
    position:fixed;
    top:9.75%;
    right:2.5%;
    height:80vh;
}

td button {
    height:32px;
    width:80%;
    margin:auto;
    border:2px solid #333;
    border-radius: 4px;
    font-size:16px;
    background-color: #555;
    color:white;
    position:relative;
    font-family: 'Oswald', sans-serif;
}

td button:hover {
    border:2px solid #ddd;
    border-radius: 4px;
    font-size:16px;
    background-color: #fff;
    color:black;
    position:relative;
    font-family: 'Oswald', sans-serif;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;

  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
    color:#333;
  }